body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#main-container {
    background: #E7E7E7;
}

.navbar, .footer-bottom {
    background-color: #19263a !important;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .footer-bottom, .footer, #main-title {
    color: #fff;
}

#demo, #top, #html, #js{
    padding-top: 50px;
}

#js {
    margin-bottom: 50px;
}

#main-title, #footer {
    background: #048EC6;
}

#main-title {
    margin-top: 50px;
    text-align: center;
    padding: 15px 0 15px 0;
}

.gallery-img-container {
    margin-top: 15px;
}

.gallery-img:hover {
    cursor: pointer;
}

.img-responsive {
    display: inline-block;
    margin: 15px 0 15px 0;
}

pre {
    text-align: left;
}

.navbar-default {
    border: none;
}

.footer, .navbar {
    font-size: 21px;
}

.social .fa, .social a {
    color: #fff;
}

.social .fa:hover, .social a:hover{
    text-decoration: inherit;
    color: #19263a;
}

.social > div {
    padding: 25px 0 25px 0;
    text-align: center;
}

.name {
    padding: 10px 0 10px 0;
}
