.navbar, .jumbotron {
    margin-bottom: 0;
}

@media screen and (min-width: 768px)
.jumbotron  {
    padding-bottom: 0;
}

.gallery-img-container {
    margin-top: 15px;
}

.gallery-img:hover {
    cursor: pointer;
}

.img-responsive {
    display: inline-block;
    margin: 15px 0 15px 0;
}

pre {
    text-align: left;
}

/* FOOTER */
