body {
    font-family: 'Roboto', sans-serif;
}

.navbar, .jumbotron {
    margin-bottom: 0;
}

.jumbotron {
    background: #fff;
}

@media screen and (min-width: 768px)
.jumbotron  {
    padding-bottom: 0;
}

.gallery-img-container {
    margin-top: 15px;
}

.gallery-img:hover {
    cursor: pointer;
}

.img-responsive {
    display: inline-block;
    margin: 15px 0 15px 0;
}

pre {
    text-align: left;
}

.navbar {
    background-color: #00c7d2;
}

.navbar-default .navbar-nav>li>a {
    color: #ffd900;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.jumbotron-inverse {
    background: #333333;
    color: white;
}

footer {
    background-color: #00c7d2;
    color: #ffd900;
}

.footer, .navbar {
    font-size: 21px;
}
